
body{
    background-image:url(dog-1861839_1920.jpg);
    background-size: cover;
    font-family: 'Nunito', sans-serif;
    }
img{
    position: absolute;
    top: 5px;
    }
header{
    background-color: rgba(255, 255, 255, 0.3);
    width: 30vw;
    max-width: 50vw;
    margin: 0 auto 10vh auto;
    padding: 20px;
    border-radius: 10%;
    text-align: center;
}

.inscription{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.check{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mail{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
input label{
    max-width: inherit;
}
header > button{
    align-self: center;
}
.sideG, .sideD{
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10%;
    line-height: 1.8em;
    width: 25vh;
}
.sideG{
    margin-left: 7vw;
}
.sideD{
    margin-right: 7vw; 
}
section{
    display: flex;
    flex-direction:row;
    justify-content: space-between;  
}
.sidetitle{
    text-decoration:underline;
    color: rgba(44, 44, 44,0.7);
}
footer{
    display: flex;
    flex-direction:column;
    margin-top: 20vh;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 15px;
}
.pied{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

.btndiv{
    display: flex;
    justify-content: space-evenly;
    margin:0 5px;
    padding: 15px;
}
    .btn {
        text-decoration: none;
        padding: 10px;
        font-family: arial;
        font-size: 1em;
        color: #FFFFFF;
        background-color: #EB651C;
        border-radius: 24px;
        -webkit-border-radius: 24px;
        -moz-border-radius: 24px;
        border: 2px solid #000000;
        box-shadow: 3px 3px 12px #444444;
        -webkit-box-shadow: 3px 3px 12px #444444;
        -moz-box-shadow: 3px 3px 12px #444444;
        }
        
        
        .btn:hover {
        /* padding: 10px; */
        background-color: #EB651C;
        border: 4px solid #FFFFFF;
        box-shadow: 1px 1px 4px #777777;
        -webkit-box-shadow: 1px 1px 4px #777777;
        -moz-box-shadow: 1px 1px 4px #777777;
        }

        @media screen and (max-width:750px){

            section{
                display: flex;
                flex-direction: column;
                
            }
            .sideD, .sideG{
                margin:5vh auto;
                max-width: 100%;
                flex-basis: 100%;
            }
            header{

                margin-top: 5vh 1vw;
                flex-basis: 100%;
                overflow-wrap: break-word;
            }
            .inscription{
                display: flex;
                flex-direction: column;
                max-width: inherit;
            }
            .img{
                position: relative;
            }
        }
        
